.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f8;
  font-family: 'Roboto', sans-serif;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.info-panel {
  max-width: 350px;
  margin-right: 50px;
}

.info-panel h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.auth-card {
  background: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 350px;
  height: 450px; /* Updated height */
  display: flex;
  flex-direction: column;
}

.auth-card > form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auth-card > button.toggle-btn {
  flex-shrink: 0;
}

.auth-card h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 0; /* Reduced margin */
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}


button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #2980b9;
  color: #fff;
}

button.toggle-btn {
  background-color: var(--secondary-color);
  margin-top: 10px;
  color: #3498db;
  background: transparent;
}

button.toggle-btn:hover {
  color: #2980b9;
  text-decoration: underline;
}

.info-panel p {
  text-align: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

@media (max-width: 768px) {
  .auth-container {
      flex-direction: column;
      width: 90%;
      max-width: 500px;
  }

  .info-panel,
  .auth-card {
    width: 100%;
  }

  .info-panel {
    padding: 1rem;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .auth-card {
    padding: 1rem;
  }

  input, button {
      padding: 8px;
  }
}
