/* Dashboard.css */
.dashboard-container {
    background: #fff;
    color: #070707;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.dashboard-header {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.dashboard-header h1 {
    font-size: 2rem;
}

.dashboard-content {
    text-align: center;
}

/* Prefixing button with .dashboard-content to increase specificity */
.dashboard-content button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: var(--primary-color); /* Adjust to primary color */
    color: var(--text-color);
    /* Rest of your styles */
}

/* Adjust to secondary color on hover with increased specificity */
.dashboard-content button:hover {
    background-color: var(--secondary-color); /* Adjust to secondary color on hover */
    /* Rest of your styles */
}
