/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #b9c3e4; /* Dark blue background */
    --text-color: #f8fbfc; /* Light text for better contrast */
    --primary-color: #74889b; /* Primary button color */
    --secondary-color: #5b396b; /* Background color for the authentication section */
    --error-color: #f44336; /* Error color */
    --border-radius: 6px; /* Border radius for elements */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
    --auth-button-color: #7434db; /* Color for the authenticate button */
    --auth-button-hover-color: #8045c4; /* Hover color for the button */
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

.App-header {
    background-color: var(--background-color); /* Updated to use the variable */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--text-color); /* Also using the text color variable for consistency */
}

.container h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: var(--large-font-size); /* Using a variable for font size */
    margin-bottom: var(--large-spacing); /* Using a variable for bottom margin */
    color: var(--text-color); /* Using the text color variable for consistency */
}

.container p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: var(--base-font-size); /* Using a variable for font size */
    margin-bottom: var(--base-spacing); /* Using a variable for bottom margin */
    max-width: 600px; /* Optimal line length for readability */
    color: var(--text-color); /* Using the text color variable for consistency */
    text-align: center;
}

.content-section {
    padding: 75px;
    margin: 50px;
    border-radius: var(--border-radius); /* Use border-radius from root */
    background: var(--secondary-color); /* Updated to use the secondary color variable */
    box-shadow: var(--box-shadow); /* Use box-shadow from root */
    color: var(--text-color); /* Use text color from root, if you want to change the text color */
}

/* Section with a different background color for authentication */
.authentication-section {
    background-color: var(--secondary-color);
    padding: 15px;
    display: flex;
    justify-content: center; /* Center align the button */
    align-items: center; /* Vertically align the button */
    box-shadow: var(--box-shadow);
}

.app-button {
    background-color: var(--auth-button-color);
    color: white;
    padding: 10px 15px; /* Increased padding for a larger button */
    font-size: 1.25rem; /* Larger font size for better readability */
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.app-button:hover {
    background-color: var(--auth-button-hover-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}


/* Container for wrapping elements */
.container {
    width: 80%;
    padding: 20px;
    margin: auto;
    overflow: hidden;
}

/* Main Content Styling */
.main-content {
    padding: 40px;
    background: var(--primary-color);
    margin-top: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 75%;
    }
}

/* Button Styling */
button {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color); /* Adjust to primary color */
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: var(--box-shadow);
}

button:hover {
    background-color: var(--secondary-color); /* Adjust to secondary color on hover */
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:disabled {
    background-color: #7f8c8d; /* Muted color for disabled state */
    cursor: not-allowed;
}
